@font-face {
  font-family: rareFont;
  src: url(../../font/RareFont2.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: rarefont;
  font-weight: 100;
}

$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;

:root {
  --body-bg: linear-gradient(
    157.41deg,
    #cf79da 11.78%,
    #a87eda 36.43%,
    #7185db 70.66%
  );
}

html,
body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  color: #ffffff;
  position: relative;
  min-height: 100%;
  width: 100%;
}

.home {
  transition: 0.2s;
}

.home__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  

  &--logo {
    margin: 40px;
    height: 160px;
    width: 160px;
  }

  &--title {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.3rem;
    text-align: center;
    letter-spacing: 0.445rem;
    padding: 0px 40px 80px 40px;
  }
}

.home__start {
  // position: relative;
  padding: 80px;
  height: auto;
  background-color: #bca7df;
  backdrop-filter: blur(17px);
  border-radius: 45px 45px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &--heading {
    text-align: center;
    line-height: 157.5%;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0.13em;
    margin-bottom: 30px;
  }

  &--scan {
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.09em;
    font-size: 15px;
    padding: 50px 0;
   
  }

  &--button {
    margin: 40px 0;
    height: 50px;
    width: 250px;
    color: #fff;
    border-radius: 30px;
    border: none;
    background-color: #000;
    cursor: pointer;
  }

  &--imgs {
    
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}od

.img {
  text-align: center;
}

.img > p {
  padding: 20px;
  font-size: 15px;
  line-height: 0.25px;
}

@media screen and (max-width: 460px){
  .home__start{
    padding: 25px;
  }
}

@media screen and (max-width: 960px){
  body{
    background: var(--body-bg);
  }

  .home__start{
   padding: 80px;
  }

}



