.upload{
    height: 100vh;
   width: 100wh;

   &__header{

    height: 80px;
        width: 100%;
        padding:  20px  0 0 20px;
        background: linear-gradient(
            157.41deg,
            #cf79da 11.78%,
            #a87eda 36.43%,
            #7185db 70.66%
          );

          &--title{
            text-align: center;
          }

    }

    &__body {
       padding: 5%;
  
        &--para{
          color: #2D194D;
          text-align: center;
          letter-spacing: 0.13em;
          font-size: 15.4368px;
          word-wrap: break-word;
          padding: 25px;
         
      }
  
   }

   &__button > button{
    font-size: 14px;
    font-weight: 100;
    margin: 20px;
    height: 50px;
    border-radius: 17px;
    border: none;
    color: #e0c016;
    background-color: #000;
    width: 80px;
   margin: 40px 35px;
   }

}

.btn{
   display: flex;
   justify-content:center ;
   padding: 100px 10px;
   margin-left: 20px;

}


