.hide{
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}

body{
    background-color: #000 !important;
}

.cam-button > button{
    font-size: 18px;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 17px;
    border: none;
    color: #E0C016;
    background-color: #000;
    width: 100px;
}
    
.submit-btn{
   color: #E0C016;
   text-decoration: none !important;
}