.report{
   display: grid;
   justify-content: center;
   width: auto;

    &__header{
        height: 80px;
        background: linear-gradient(
            157.41deg,
            #cf79da 11.78%,
            #a87eda 36.43%,
            #7185db 70.66%
          );

          &--title{
            text-align: center;
          }

    }

    &__body--para{
        color: #2D194D;

    }
}