.report{
   height: 100vh;
   width: 100wh;

    &__header{
        height: 80px;
        width: 100%;
        padding: 30px;
        background: linear-gradient(
            157.41deg,
            #cf79da 11.78%,
            #a87eda 36.43%,
            #7185db 70.66%
          );

          &--title{
            text-align: center;
          }

    }

    &__body {
      padding: 5%;

      &--para{
        color: #2D194D;
        text-align: center;
        letter-spacing: 0.13em;
        font-size: 15.4368px;
    }

    &--img{
      height: 500px;
      width: 300px;
    }

     &--icons{
      color: #2D194D;
      display: flex;
      justify-content: space-around;
      font-size: 12px;
      
     }

     &--i{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 25px;
     }

     &--i > p{
      padding: 7px;
     }

     &--website{
      color: #2D194D;
      font-size: 14px;
      line-height: .65px;
      text-align: center;
     }
    }

}